/* buy */
#buy{
	background: url(../../../assets/image/ctaImg.png) no-repeat center;
	background-size: cover;
	height: 62.5rem;
	width: 100%;
	border-radius: 18rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buy h3{
	color: var(--main-bg);
	font-size: 3rem;
	line-height: 3;
}

#buy .btn {
	padding:2rem 7rem;
	border-radius: 10px;
	font-weight: 800;
	font-size: 2.5rem;
}