/* How to */
#howto{
	background: url(../../../assets/image/pattern-bg.svg);
	padding:  2rem 0;
}
#howto .l-heading span.howtobg{
	display: inline-block;
	background: url(../../../assets/image/farm.png) center/cover;
	height: 100px;
	width: 410px;
	border-radius: 0 2rem;
}

#howto .content{
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
}

#howto .content .card{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

#howto .content .card .img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: var(--main-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	font-size: 1.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#howto .content .card p{
	font-size: 1.5rem;
	text-align: center;
	padding-top: 1rem;
}